<!DOCTYPE html>
<html>

<head>
    <link rel="canonical" href="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="fragment" content="!">
    <meta name="description" content="">
    <meta name="googlebot" content="NOODP">
    <meta name="robots" content="INDEX, FOLLOW">

    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" sizes="80x80" href="/static/app_logo_80px.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/app_logo_120px.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/app_logo_152px.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/static/app_logo_167px.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/app_logo_180px.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/main.css">

    <title>Calc</title>
</head>

<body>
    {{{body}}}
    <div id="app"></div>
    <script src="/static/main.js"></script>
</body>

</html>