{{!-- <h1>
    {{> title this}}
</h1>

<h1>
    Home Page with prop test = {{test}}
</h1>

{{#Tlist people}} {{name}} {{surname}} {{/Tlist}}

<hr>
<h2>React component:</h2>
<div id="home"></div> --}}